.active {
  background-color: rgb(255, 255, 255);
  color: #3F51B5;
  border: 1px solid #3F51B5;
}

.login-form-font-header {
  font-size:20px;
  font-weight: bold;
}

.login-form-font-header span {
  color: #007C9B;
}

.mat-button{
  margin-left: 10px;
}

.cerrar{
  position: absolute;
  right: 0;
}
